{%
set classes = [
'bio-news-item',
]
%}

{% if content %}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="bio-news-item__left col-sm-8">
      {{ content.right }}
    </div>
    <div class="bio-news-item__right col-sm-4">
      {{ content.left }}
    </div>
  </div>
</div>
{% endif %}
